body{
    background-color:#ffee8c;}
h1,h3{
    color:blue;font-size:20px;
}
p{
    color:green;
}
.logo {
    border-radius: 25px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    margin-left: 2%; /* Отступ слева */
    margin-right: 2%; /* Отступ справа */
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
}
/*for Drag&Drop*/
/*first script*/
.family {
    width: 256px;
    height: 256px;
    background: url(/images/icons/png/family-icon.png) no-repeat;
    padding: 5px;
    font-style: italic;
}
.friends {
    background: url(/images/icons/png/friends-icon.png) no-repeat;
}
.draggable {
    cursor: pointer;
}

/*second script*/
img.drag {
    /*height:100px;*/
    /*margin:20px;*/
    cursor: pointer;
}
.drop {
    background-color: #0099ff;
    height:60px;
    width: 450px;
    /*margin:20px;*/
    /*padding:20px;*/
    border:3px solid green;
}